[Unit]
Description=alert-manager
Wants=network-online.target
After=network-online.target


[Service]
Type=simple
Restart=on-failure
ExecStart=/opt/alert-manager/alertmanager --config.file=/opt/alert-manager/alertmanager.yml


[Install]
WantedBy=multi-user.targe
