[Unit]
Description=node-exporter
Wants=network-online.target
After=network-online.target


[Service]
Type=simple
Restart=on-failure
ExecStart=/opt/node-exporter/node_exporter


[Install]
WantedBy=multi-user.targe
